/* key-drop extension content script styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

#extension-banner * {
    all: initial;
    font-family: 'Poppins', sans-serif !important;
}

#extension-banner.extension-banner {
    border: 2px solid #FFCB77;
    @apply w-full mb-4 bg-navy-750 h-[90px];
}

#extension-banner .extension-banner-content {
    background: -moz-linear-gradient(90deg, rgba(255,203,119,0.1) 0%, transparent 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,203,119,0.1) 0%, transparent 100%);
    background: linear-gradient(90deg, rgba(255,203,119,0.1) 0%, transparent 100%);
    @apply grid grid-cols-[12px,1fr,194px,12px] w-full h-full gap-3;
}

#extension-banner .extension-banner-text-wrapper {
    @apply grid grid-cols-[34px,1fr] w-full gap-3.5 h-full items-center col-start-2;
}

#extension-banner .extension-banner-warning {
    @apply h-[34px] w-[34px] bg-[#231C11] text-[22px] text-gold-400 font-semibold flex justify-center items-center rounded-full;
}

#extension-banner .extension-banner-text {
    @apply flex flex-col gap-1;
}

#extension-banner .extension-banner-text-first {
    @apply text-sm font-semibold text-white;
}

#extension-banner .extension-banner-text-second {
    @apply text-xs text-white;
}

#extension-banner .extension-banner-text-second > span {
    @apply font-semibold text-gold-400 text-xs;
}

#extension-banner .extension-banner-img-wrapper {
    @apply w-[194px] h-[90px] col-start-3;
}

#extension-banner .extension-banner-img {
    @apply w-[194px] h-[90px];
}